<div class="bg-white rounded-[8px] p-6 h-80">
    <h2 class="text-[#383E49] text-[20px] font-medium mb-6">Overview</h2>

    <div class="grid grid-cols-4 gap-4">
        <div class="flex flex-col gap-4">
            <p class="text-[#48505E] text-2xl font-semibold">$71,190</p>
            <p class="text-[#858D9D] text-sm">Total Profit</p>
        </div>

        <div class="flex flex-col gap-4">
            <p class="text-[#E19133] text-2xl font-semibold">$18,300</p>
            <p class="text-[#858D9D] text-sm">Revenue</p>
        </div>

        <div class="flex flex-col gap-4">
            <p class="text-[#845EBC] text-2xl font-semibold">$17,432</p>
            <p class="text-[#858D9D] text-sm">Sales</p>
        </div>

        <div class="flex flex-col gap-4">
            <p class="text-[#48505E] text-2xl font-semibold">$80,432</p>
            <p class="text-[#858D9D] text-sm">Net sales value</p>
        </div>
    </div>

    <hr class="text-[#ccc] my-10"/>

    <div class="flex flex-col gap-4">
        <div class="flex justify-between text-[#667085] font-medium">
            <div>
                <p>$1,17,432</p>
                <p class="font-regular text-sm pt-2">Net purchase value</p>
            </div>
            <div>
                <p>$1,17,432</p>
                <p class="font-regular text-sm pt-2">Net sales value</p>
            </div>
            <div>
                <p>$1,17,432</p>
                <p class="font-regular text-sm pt-2">MoM Peofit</p>
            </div>
            <div>
                <p>$1,17,432</p>
                <p class="font-regular text-sm pt-2">YoY Profit</p>
            </div>
        </div>
    </div>
</div>