<div class="w-56 h-full bg-white flex flex-col items-center justify-between py-8">

    <div>
        <div class="flex items-center gap-2">
            <img src="/images/logo.png" alt="Logo" class="w-10 h-10">
            <h1 class="font-semibold text-[24px] text-[#1570EF]">KANBAN</h1>
        </div>

        <ul class="flex flex-col gap-12 mt-10">
            @for (icon of icons; track icon.id) {
            <li class="flex items-center gap-4 cursor-pointer" (click)="handlePositionChange(icon.id)">
                <img src="/icons/{{icon.name}}" alt="">
                <p class="font-medium select-none" [class]="icon.id === position() ? 'text-[#1670EF]':'text-[#5D6679]' ">
                    {{icon.title}}
                </p>
            </li>
            }
        </ul>
    </div>

    <div class="flex flex-col gap-6 self-start px-8">
        <div class="flex gap-4" (click)="handlePositionChange(7)">
            <img src="/icons/SettingsIcon.svg" alt="">
            <p class="font-medium select-none" [class]="position() === 7 ? 'text-[#1670EF]':'text-[#5D6679]'">
                Settings
            </p>
        </div>

        <div class="flex gap-4" (click)="handlePositionChange(8)">
            <img src="/icons/LogOutIcon.svg" alt="">
            <p class="font-medium select-none" [class]="position() === 8 ? 'text-[#1670EF]':'text-[#5D6679]'">
                Log Out
            </p>
        </div>
    </div>
</div>