<header class="h-20 w-full bg-white">
    <nav class="h-full w-full flex items-center px-10">
        
        <div class="relative">
            <img src="/icons/SearchIcon.svg" alt="search icon" class="absolute top-2 left-3">
            <input type="text" placeholder="Search product, supplier, order" class="w-96 pl-12 py-2 rounded-[4px] border-[1px] border-[#F0F1F3] outline-none">
        </div>

        <div class="flex gap-6 w-full justify-end">
            <img src="/icons/NotificationIcon.svg" alt="Notification Icon" class="cursor-pointer">
            <img src="/images/andrey-zvyagintsev-x0c6vTO5ibA-unsplash 3.png" alt="" class="rounded-full cursor-pointer">
        </div>
    </nav>
</header>